<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">
    <security:global-method-security jsr250-annotations="enabled" pre-post-annotations="enabled" secured-annotations="enabled" />
    <security:http pattern="/login" security="none" />
    <security:http pattern="/api/**" security="none" />
    <security:http pattern="/rs/**" security="none" />
    <security:http auto-config="true" use-expressions="true">
        <security:anonymous granted-authority="IS_AUTHENTICATED_ANONYMOUSLY" enabled="true"/>
        <security:intercept-url pattern="/" access="hasAnyRole('IS_AUTHENTICATED_ANONYMOUSLY','ROLE_USER')"/>
        <security:intercept-url pattern="/form/*" access="hasRole('ROLE_USER')" />
        <security:form-login default-target-url="/" login-page="/login" username-parameter="username"
                             password-parameter="password"
                             authentication-failure-url="/"></security:form-login>
        <security:logout logout-success-url="/" delete-cookies="JSESSIONID"/>
        <security:session-management invalid-session-url="/">
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </security:session-management>
        <security:csrf />
    </security:http>

    <bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>
    <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    <security:authentication-manager alias="apiAuthenticationManager">
        <security:authentication-provider user-service-ref="myUserDetailsService">
            <security:password-encoder hash="plaintext"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>